<app-header></app-header>
<div class="container panel-body">
  <div class="row main">
    <div class="col-12 centrar-componente">
      <p class="titulo" style="margin-top: 16px;color: #8F1A95;">Bienvenido(a)</p>
      <p class="sub-titulo" style="margin-top: 24px;color: #000;">Seleccione una opción.</p>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>
    <div
      class="col-xl-4 col-lg-4 col-md-12 col-sm-12 centrar-componente"
      style="margin-top: 40px"
    >
     <button routerLink="/envio-translado-busqueda" mat-stroked-button class="boton-oscuro boton"  style="text-align: left;padding-top: 7px;padding-bottom: 7px;width: 80%;border-radius: 8px;">
                ENVIO TRANSFERENCIA
                <mat-icon style="float: right;margin: 4px 0px;" aria-hidden="false" class="icon-right" aria-label="Example home icon">login</mat-icon>
     </button> 
    </div>

    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>

    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>
    <div
      class="col-xl-4 col-lg-4 col-md-12 col-sm-12 centrar-componente"
      style="margin-top: 32px"
    >
      <button
        routerLink="/pago-translado-busqueda"
        mat-stroked-button
        class="boton-claro boton"
        style="
          text-align: left;
          padding-top: 7px;
          padding-bottom: 7px;
          width: 80%;
          border: #FA4616 solid 1px;
          border-radius: 8px;
        "
      >
        PAGAR TRANSFERENCIA
        <mat-icon
          style="float: right; margin: 4px 0px"
          aria-hidden="false"
          class="icon-right"
          aria-label="Example home icon"
          >login</mat-icon
        >
      </button>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>
  </div>
</div>
<app-footer></app-footer>
