<app-header></app-header> 
<div class="container">
    <div class="row"> 
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" >
            <p class="titulo" style="margin-top: 16px;">Pago de Transferencia</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="text-align: right;">
            <!--
            <label class="idremesa" style="margin-top: 16px;">ID REMESA &nbsp;&nbsp;</label>
            <label class="secuencial" style="margin-top: 16px;">000000000000003</label>
            -->
      </div>
    </div>

    <div class="row"> 
        <div class="col-12" >
            <p class="sub-titulo" style="margin-top: 24px;">Datos del Beneficiario</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">Nombres</label>                   
                    </div> 
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text"  [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.beneNameFirst" disabled="true" >                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">Apellidos</label>                   
                    
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text" [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.beneNameLast1+' '+validarClienteMTCM.mtcResponse.detalle.detalle.response.beneNameLast2"  disabled="true" >                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">País</label>                   
                    
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text"  [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.beneCountry" disabled="true">                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
    
    <div class="row"> 
        <div class="col-12" >
            <p class="sub-titulo" style="margin-top: 24px;">Datos del Remitente</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">Nombres</label>                   
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text" [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.custNameFirst" disabled="true">                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">Apellidos</label>                   
                    
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text" [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.custNameLast1+' '+validarClienteMTCM.mtcResponse.detalle.detalle.response.custNameLast2" disabled="true">                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">País</label>                   
                    
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text" [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.custCountry" disabled="true">                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <hr>
    
    <div class="row"> 
        <div class="col-12" >
            <p class="sub-titulo" style="margin-top: 24px;">Datos de Pago</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">Cantidad</label>                   
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text" [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.beneAmount" disabled="true">  
                                             
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 16px;">ITF (0.005%)</label>                   
                    
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text" value="0.00" disabled="true">                            
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right" style="padding-top: 8px;">TOTAL A PAGAR</label>                   
                    
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 input">
                        <mat-form-field  appearance="outline" style="width: 100%;font-family: Mont-Light;">
                            <input matInput type="text" [(ngModel)]="validarClienteMTCM.mtcResponse.detalle.detalle.response.beneAmount" disabled="true">                            
                        </mat-form-field>
                    </div>   
                </div>
            </div>
        </div>   
    </div>

  

    <div class="row" style="padding-top: 24px;">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"></div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
            <button routerLink="/pago-translado-validacion" mat-stroked-button class="boton-claro"  style="width: 100%;text-align: left;padding: 3px 24px 3px 24px;border: #03BB9A solid 1px;border-radius: 8px;">
                <mat-icon style="float: left;margin-top: 4px;margin-right: 8px;" aria-hidden="false" class="icon-right" aria-label="Example home icon">chevron_left</mat-icon>
                VOLVER
            </button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
            <button (click)="valdiarUser()" mat-stroked-button class="boton-oscuro"  style="width: 100%;text-align: left;padding: 3px 16px 3px 24px;border-radius: 8px;">
                CONTINUAR
                <mat-icon style="float: right;margin-top: 4px;" aria-hidden="false" class="icon-right" aria-label="Example home icon">chevron_right</mat-icon>                
            </button>
        </div>
    </div>
</div>



<app-footer></app-footer>
