<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12 centrar-componente" >
            <p class="titulo">Pago de Transferencia</p>
            <p class="sub-titulo">Dirección del beneficiario.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Pais de residencia</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <select name="n_unidad_negocio"   class="form-control form-control-sm" >
                            <option>PERÚ</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Dirección 1</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <input name="txtSesionCodAlu" class="form-control" placeholder="Ingregar dirección" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
    </div>
    
    
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Código postal</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <select name="n_unidad_negocio"   class="form-control form-control-sm" >
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Departamento</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <select name="n_unidad_negocio"   class="form-control form-control-sm" >
                            <option>PIURA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
    </div>
    
    
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Provincia</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <select name="n_unidad_negocio"   class="form-control form-control-sm" >
                            <option>Paita</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Distrito</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <select name="n_unidad_negocio"   class="form-control form-control-sm" >
                            <option>VICHACAL</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
    </div>
    
    
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Email</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <input name="txtSesionCodAlu" class="form-control" placeholder="Ingregar email" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
    </div>
    
    
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Código del pais para el telefono</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <select name="n_unidad_negocio"   class="form-control form-control-sm" >
                            <option>PERÚ (51)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Número de telefono</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <input name="txtSesionCodAlu" class="form-control" placeholder="Ingregar número de telefono" type="text">
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
    </div>
    
    
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Código del pais para el movil</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <select name="n_unidad_negocio"   class="form-control form-control-sm" >
                            <option>PERÚ (51)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 ">
            <div class="form-group">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-right ">
                        <label class="label text-right">Telefono movil</label>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 input">
                        <input name="txtSesionCodAlu" class="form-control" placeholder="Ingregar telefono movil" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 "></div>
    </div>
    
    
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <button routerLink="/inicio" style="margin: 10px;padding: 5px 25px;font-weight: 500;border-radius: 8px;" class="color-primario" mat-raised-button >
                CANCELAR
                <mat-icon style="margin-left: 10px;" aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </button>
        </div>
        <div class="col-2">
            <button routerLink="/pago-translado-forma-pago" style="margin: 10px;padding: 5px 25px;font-weight: 500;border-radius: 8px;" class="color-primario" mat-raised-button >
                VALIDAR
                <mat-icon style="margin-left: 10px;" aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>